<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageName%></title>
</head>
<body>
    <style>
        body{
            margin: 0;
            padding: 0;
            background-color: rgb(70, 70, 70);
        }
        nav{
            width: 100%;
            display: flex;
            justify-content:space-around;
        }
        nav>a{
            padding: 10px;
            background-color:rgb(13, 84, 135);
            border-radius: 3px;
            text-decoration: none;
            color: azure;
        }
        nav>a:hover{
            background-color: rgb(9, 62, 100);
            color: rgb(192, 204, 204);
        }
        .mainDiv{
            width: 100%;
            height: 100dvh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .title{
            font-size: 2em;
        }
        .image{
            border: solid rgb(13, 84, 135) 10px;
            border-radius: 2px;
            max-width: 50%;
        }
        h1,p{
         color: azure;   
        }
    </style>
    <nav>
        <a href="/posts">Posts</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </nav>
    <div class="mainDiv">
        <h1 class="title"><%= postObject.title%></h1>
        <img src="../image/<%= postObject.image%>" alt="<%= postObject.image%>" class="image">
        <p><%=postObject.content%></p>
    </div>
</body>
</html>